- main_toolbar do |t|
  = t.journal_entries_export resource, format: :csv, label: :journal_entries_csv_export.ta
  = t.notify_accountant(resource) if resource.accountant_email?
  = t.close(resource) if resource.opened?

= main_informations do
  = attributes_list do |l|
    - l.attribute(:financial_year, url: true)
    - l.attribute(:started_on)
    - l.attribute(:stopped_on)
    - l.attribute(:closed_at)

= main_list(:journal_entries)
